/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/files/quotes/19/1604586093-133-1.mp4
public/assets/images/capcha_code.png
*.zip
